:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangle {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 1000px;
  background-color: #c4a7a7;
  border-style: solid;
  border-width: 10px;
  border-color: #000000;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 100px;
  width: 100px;
  background-color: red;
  text-align: center;
  align-content: center;
}

.note {
  background-color: blue;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  align-content: center;
}

.title {
  margin-bottom: 30px;
}
